@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
    }

:root{
    --primary-heading-color:#1D1B67;
    --secondary-heading-color:#005661;
    --third-heading-color:#000000;
    --text-color:#425466;
    --background-dark:#46CCDE;
    --background-light:#CDF9FF;
    
    --primary-font:'Inter', sans-serif;
    --line-height: 27px;
    --transition: all 0.3s linear;
    --radius: 0.5rem;
}
h1,h2,h3,h4{
    font-weight: bold;
}
h1{
    font-size: 2.25rem;
}
h2{
    font-size: 2.25rem;
}
h3{
    font-size: 1.25rem;
}
h4{
    font-size: 1.125rem;
}
p, li{
    line-height: var(--line-height);
    font-size: 1.125rem;
    color: var(--text-color)
}
a{
    color: var(--text-color);
    font-size: 1.125rem;
}


a{
    text-decoration: none;
}
ul {
    list-style-type: none;
}
@media screen and (min-width:1140px){
    h1{
        font-size: 3.5rem;
    }
}
/* Global styles */
.container{
    width: 90%;
    max-width: 1140px;
    margin: 0 auto;
}

.btn{
    color: #FFFFFF;
    background: #1D1B67;
    font-family: var(--primary-font);
    padding: 1.125rem 1.5rem;
    font-weight: 700;
    line-height: var(--line-height);
    font-size: 1.125rem;
    border-radius: var(--radius);
    text-decoration: none;
    border: none;
    cursor: pointer;
}
/*
=============== 
Navbar
===============
*/
#nav, #index-nav{
    margin: 40px 0;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-header{
    display: flex;
    align-items: center;
    gap: 50px;
}
.nav-links{
    display: none;
    align-items: center;
    gap: 1.5rem;
}
.nav-btn{
    display: none;
}
.nav-menu{
    cursor: pointer;
}
@media screen and (min-width:768px){
    .nav-btn{
        display: inline-block;
    }
    .nav-links{
        display: flex;
    }
    .nav-menu{
        display: none;
    }
}

/*
=============== 
Hero
===============
*/
.hero-info{
    padding-bottom: 40px;
}
.hero-title{
    color: var(--primary-heading-color);
}
.hero-text{
    margin-top: 0.5rem;
}
.hero-btn-row{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 3.375rem;

}
.hero-link{
    line-height: var(--line-height);
}
.hero-footer-row{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;
}
.hero-footer-row p span{
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
}
.hero-img-container{
    background: var(--background-dark);
    padding: 45px 0;
}
.hero-img-container img{
    width: 100%;
    padding: 0 0.75rem;
    object-fit: cover;
}
@media screen and (min-width:768px){
    .hero-container{
        display: grid;
        grid-template-columns: 45% 55%;
    }
    .hero-info{
        padding-right: 2.5rem;
        padding-bottom: 76px;
    }
    .hero-btn-row{
        display: grid;
        justify-content: flex-start;
        gap: 1.5rem;
    }
    .hero-link{
        text-align: center;
    }
    
    .hero-img-container{
        display: flex;
        align-items: center;
    }
}
@media screen and (min-width:1140px){
    .hero-btn-row{
        display: flex;
        align-items: center;
        gap: 3.375rem;
    }
    .hero-container{
        grid-template-columns: 50% 50%;
        grid-template-rows: 840px;
    }
    .hero-info{
        align-self: center;
        max-width: 510px;
    }
    #index-nav{
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }
    
    .blue{
        position: absolute;
        top: 0;
        right: 0;
        height: 840px;
        width: 50%;
        background: var(--background-dark);
        z-index: -1;
    }
}
@media screen and (min-width:1440px){
    .hero-img-container img{
        transform: translateX(90px);
    }
}
/*
=============== 
People Section
===============
*/
#people{
    padding: 46px 0;
}
.people-container{
    display: grid;
    gap: 2rem;
}
.people-header{
    display: grid;
    gap: 2rem;
}
.people-title{
    color: var(--primary-heading-color)
}
.people-images{
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}
.people-images img{
    width: 50px;
    height: 50px;
}
.people-info{
    display: flex;
    flex-direction: column;
    gap: 2.25rem;
}

@media screen and (min-width:768px){
    #people{
        padding: 80px 0 54px 0;
    }
    .people-header{
        grid-template-columns: 55% 45%;
    }
}

@media screen and (min-width:1140px){
    #people{
        padding: 80px 0;
    }
    .people-container{
        grid-template-columns: 1fr 1fr;
    }
    .people-header{
        grid-template-columns: 1fr;
    }
    .people-info{
        padding-left: 77px;
    }
}

/*
=============== 
About Section
===============
*/
#about{
    padding: 40px 0;
    background: var(--background-light)
}
.about-container{
    display: grid;
    gap: 61px;
}

#about h4{
    color: #3B60BF;
}
#about h2{
    color: var(--secondary-heading-color);
    max-width: 493px;
}
#about h2,h4{
    margin-bottom: 0.5rem
}
#about p{
    margin-bottom: 1rem;
}
.about-link{
    font-weight: bold;
}
@media screen and (min-width:1140px){
    #about{
        padding: 66px 0;
    }
    .about-container{
        grid-template-columns: 1fr 1fr;
    }
    .about-right{
        padding-left: 77px;
    }
}

/*
=============== 
Footer
===============
*/

#footer{
    padding: 40px 0;
}
.footer-logo{
    margin-bottom: 2rem;
}
.footer-links-container{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
}
.footer-links-group{
    display: grid;
    gap: 1rem;
}
.footer-links-group ul{
    display: grid;
    gap: 0.5rem
}
#footer h3{
    color: var(--third-heading-color)
}
.foooter-form h4{
    line-height: var(--line-height);
}
.footer-form{
    margin-top: 1.5rem;
    display: grid;
    gap: 0.5rem;
}
.form-row{
    display: grid;
    grid-template-columns: 1fr 196px;
    padding: 6px;
    border: 2px solid #A8A8A8;
    border-radius: var(--radius);
    max-width: 432px;
}
.form-input{
    padding: 1.25rem 0 1.125rem 1.125rem;
    font-family: var(--primary-font);
    line-height: var(--line-height);
    font-size: 1.125rem;
    min-width: 160px;
    border: none;
    outline: transparent
}
.form-input::placeholder{
    color: var(--text-color);
}

@media screen and (min-width:768px){
    .footer-links-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .footer-form{
        margin-top: 40px;
    }
    #footer{
        padding-top: 54px;
    }
}

@media screen and (min-width:1140px){
    #footer{
        padding: 80px 0;
    }
    .footer-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
    .footer-form{
        padding-left: 138px;
    }
}


/*
=============== 
Pricing header
===============
*/

.pricing-header-container{
    display: grid;
    justify-content: center;
}
.pricing-header-title{
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 0.5rem;
}
.pricing-header-container p{
    text-align: center;
    max-width: 755px;
}
.pricing-plan-timeframe-row{
    display: flex;
    gap: 0.875rem;
    justify-content: center;
    margin-top: 2rem;
}
.switch{
    width: 60px;
    height: 32px;
    background: #3A84F7;
    display: block;
    border-radius: 500px;
    position: relative;
    cursor: pointer;
}

.ball{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #FFFFFF;
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
    transition: var(--transition);
}

.ball-right{
    transform: translate(28px, -50%);
}
.active-plan{
    font-weight: 700;
}

/*
=============== 
Pricing Plans
===============
*/
#pricing-plans{
    margin-top: 39px;
}
.pricing-plans-container{
    width: 85%;
}
.pricing-plan{
    padding: 37px 34px;
    border: 1px solid #CDCDCD;
    border-radius: var(--radius);
}
.pricing-plan-price{
    margin-bottom: 1rem;
}
.pricing-plan-price span{
    color: #A9A9A9;
    font-size: 1.25rem;
    font-weight: 400;
}
.line{
    width: 100%;
    height: 1px;
    background: #CDCDCD;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}
.pricing-plan-features{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.pricing-plan-feature{
    display: flex;
    align-items: center;
    gap: 1rem;
    line-height: 22px;
}

.price-btn{
    margin-top: 2rem;
    width: 100%;
}
@media screen and (min-width:768px){
    .pricing-plans-container{
        width: 90%;
    }
}

@media screen and (min-width:768px, max-width:1140px){
    .pricing-plans-container{
        display: grid;
        gap: 2.5rem;
        grid-template-areas: 
        "a b"
        "c c";
    }
    #plan-1{
        grid-area: a;
    }
    #plan-2{
        grid-area: b;
    }
    #plan-3{
        grid-area: c;
    }
}
@media screen and (min-width:1140px){
    .pricing-plans-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2.5rem;
        align-items: flex-start;
    }
}